/* styles.css (ou styles.scss) */
.sidebar {
  width: 250px;
  height: 100%;
  background-color: #f8f9fa;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  z-index: 20;
}

.brand {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}


.nav {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
}

.nav-link:hover {
  background-color: #d3d3d3;
}

.content {
  margin-left: 250px;
  padding: 16px;
  position: relative;
  z-index: 1;
}
