.container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f0f8ff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.data-grid {
  background-color: #ffffff;
}

.add-event button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.add-event button:hover {
  background-color: #28a745;
}

h1.text-black {
  color: #343a40;
}
